header
    div(id="sessionCompany")
        img(src="../assets/img/logoLeaoPlacas2.png" width="63px" height="63px")
        div(id="nameCompany")
            h1 Leão Placas
            i Visualizando o objetivo da sua empresa
    span(id="user") Dados usuário
nav
    a(href="") Home
    a(href="") Sobre
    a(href="") Serviços
    a(href="") Portifólio
    a(href="") Contatos