doctype html
html
  head
    link(rel="stylesheet" href="style.css")
    script(src="script.js")
    meta(charset="UTF-8")
  title HTML Tutorial
  body(onload="load()")
    header
      div(id="sessionCompany")
        img(src="../assets/img/logoLeaoPlacas2.png" width="63px" height="63px")
        div(id="nameCompany")
          h1 Leão Placas
          i Visualizando o objetivo da sua empresa
      span(id="user") Dados usuário
    nav
      a(href="") Home
      a(href="") Sobre
      a(href="") Serviços
      a(href="") Portifólio
      a(href="") Contatos
    section
      aside.tools
        form(id="controls")
          h2 Controles
          fieldset(id="basicSettings")
            legend Definições Básicas
            label.legend(for="options") Produto:
            select(id="options" class="control" onchange="changeProduct()")
              option(value="cartao-de-visitas") Cartão de visitas
              option(value="panfleto") Panfleto
              option(value="banner") Banner
              option(value="caneca") Caneca
            label.legend(for="productAmount") Quantidade
            input(id="productAmount" class="control" type="text")
            legend Orientação
            label.legend Paisagem
            input(id="paisaje" class="control" type="radio" name="orientation" value="paisaje" onclick="changeProduct()" checked="")
            label.legend Retrato
            input(id="portrait" class="control" type="radio" name="orientation" value="portrait" onclick="changeProduct()")      
          fieldset
            legend Lados
            label.legend(for="oneSide") Frente
            input(id="oneSide" class="control" name="side" type="radio" onchange="changeAmountSides(this.id)" checked="")
            label.legend(for="twoSide") Frente e Verso
            input(id="twoSide" class="control" name="side" type="radio" onchange="changeAmountSides(this.id)")
            label.legend(for="titleFront") Título Frontal:
            input(id="titleFront" class="control" type="text" onchange="changeTitleFront(this.value)")
            label.legend(for="textFront") Texto Frontal:
            input(id="textFront" class="control" type="text" onchange="changeTextFront(this.value)")
            label.legend(for="titleBack") Título Traseiro:
            input(id="titleBack" class="control" type="text" onchange="changeTitleBack(this.value)")
            label.legend(for="textBack") Texto Traseiro:
            input(id="textBack" class="control" type="text" onchange="changeTextBack(this.value)")
          fieldset
            legend Estilização  
            label(class="legend" for="checkbox") Alterar o tamanho:
            input(id="checkbox" class="control" type="checkbox" onchange="optimazeSize()")
            label(class="legend" for="width") Largura:
            input(id="width" class="control" type="range" min="120" max="1000" value="600" onchange="resizeWidthProduct(this.value)" disabled="")
            label(class="legend" for="height") Cumprimento:
            input(id="height" class="control" type="range" min="70" max="600" value="370" onchange="resizeHeightProduct(this.value)" disabled="")
            label(class="legend" for="zoom") Zoom:
            input(id="zoom" class="control" type="range" min="0" max="5" value="0" onchange="zoomImage(this.value)")
            label(class="legend" for="colorFront") Cor da Frente:
            input(id="colorFront" class="control" type="color" value="#FC0" onchange="setBackColorFront(this.id,this.value)")
            label(class="legend" for="colorBack") Cor do Verso:
            input(id="colorBack" class="control" type="color" value="#80BFFF" onchange="setBackColorFront(this.id,this.value)")
            legend Imagem de fundo:
            label(class="legend") Imagens Prontas:
            input(id="modalImagesFront" class="control" type="button" value="Escolha" onclick="enterModal()")
            .images
              span(onclick="returnPage()") Click aqui para Sair.
              .gridImages
                .boxImage
                  h1 Titulo da Imagem
                  img(src="../assets/img/bussiness.jpg" alt="Negócios" onclick="selectBankImages(this.src)")
                .boxImage
                  h1 Titulo da Imagem
                  img(src="../assets/img/graphic.jpg" alt="Gráfica" onclick="selectBankImages(this.src)")
                .boxImage
                  h1 Titulo da Imagem
                  img(src="../assets/img/rose.jpg" alt="Logo" onclick="selectBankImages(this.src)")
                .boxImage
                  h1 Titulo da Imagem
                  img(src="../assets/img/maintenance.jpg" alt="Manutenção" onclick="selectBankImages(this.src)")
                .boxImage
                  h1 Titulo da Imagem
                  img(src="../assets/img/rose.jpg" alt="Rosa" onclick="selectBankImages(this.src)")
              div(id"chosenSide")
                h1 Escolha o lado
                label(for="chosenSideFront") Frente
                input(id="chosenSideFront" name="chosen" value="Frente" type="radio")
                label(for="chosenSideBack") Verso
                input(id="chosenSideBack" name="chosen" value="Verso" type="radio")
            label.legend(for="leftTopToInclineUp") No computador:
            input(id="openFile" class="control" type="file" accept="image/*" onchange="selectPhoto()")
            legend Inclinar
            label.longLegend(for="leftTopToInclineUp") Para cima:
            input(id="leftTopToInclineUp" class="controlLong" type="range" min="0" max="20" value="0" onchange="incline(this.id,this.value)")
            label.longLegend(for="rightTopToInclineUp") Para baixo:
            input(id="rightTopToInclineUp" class="controlLong" type="range" min="0" max="20" value="0" onchange="incline(this.id,this.value)")
            label.longLegend(for="rightTopToInclineRight") Para direita:
            input(id="rightTopToInclineRight" class="controlLong" type="range" min="0" max="20" value="0" onchange="incline(this.id,this.value)")
            label.longLegend(for="rightBottomToInclineRight") Para esquerda:
            input(id="rightBottomToInclineRight" class="controlLong" type="range" min="0" max="20" value="0" onchange="incline(this.id,this.value)")
          fieldset
            legend Cantos:
            legend Arredondar:
            label.legend(for="cantosSuperiorEsquerdo") Superior esquerdo:
            input(id="cantosSuperiorEsquerdo" class="control" type="range" min="0" max="1000" value="0" onchange="setCornerTopLeft(this.value)")
            label.legend(for="cantosSuperiorDireito") Superior direito:
            input(id="cantosSuperiorDireito" class="control" type="range" min="0" max="1000" value="0" onchange="setCornerTopRight(this.value)")
            label.legend(for="cantosInferiorEsquerdo") Inferior esquerdo:
            input(id="cantosInferiorEsquerdo" class="control" type="range" min="0" max="1000" value="0" onchange="setCornerBottomLeft(this.value)")
            label.legend(for="cantosInferiorDireito") Inferior direito:
            input(id="cantosInferiorEsquerdo" class="control" type="range" min="0" max="1000" value="0" onchange="setCornerBottomRight(this.value)")
            
      article.displayArea
        h1 Monte sua arte
        div(id="tabTools")
          li
            a(href="") Arquivo
            ul
              li
                a(href="#") Salvar
              li
                a(href="#") Salvar como
          li
            a(href="#") Editar
            ul
              li
                a(href="#") Desfazer alteração
              li
                a(href="#") Copiar
              li
                a(href="#") Colar
          li
            a(href="#") Exibir
            ul
              li
                a(href="#") Exibição 3d
              li
                a(href="#") Exibição de duas faces
              li
                a(href="#") Exibição de uma face
          li
            a(href="#") Inserir
            ul
              li
                a(href="#") Imagem de fundo
              li
                a(href="#") Imagem
          li
            a(href="#") Formatar
            ul
              li(id="toolsFont")
                a(href="#") Fonte
                ul(id="menuFont")
                  li
                    a(href="#") Tipo
                  li
                    a(href="#") Tamanho
                  li
                    a(href="#") Negrito
                  li
                    a(href="#") Itálico
                  li
                    a(href="#") Sublinhado
              li
                a(href="#") Coluna
              li
                a(href="#") Borda
              li
                a(href="#") Margem
              li
                a(href="#") Espaçamento
              li(id="toolsFilter")
                a(href="#") Filtros de Imagem
                ul(id="menuFilter")
                  li
                    a(href="#") negativo
                  li
                    a(href="#") Foco
                  li
                    a(href="#") sepia
                  li
                    a(href="#") inverter cor
                  li
                    a(href="#") escala de cinza
                  li
                    a(href="#") brilho
                  li
                    a(href="#") contraste
                  li
                    a(href="#") transparencia
                  li
                    a(href="#") saturação
          li
            a(href="#") Tabela
          li
            a(href="#") Ajuda
        div(id"showWidthProduct")
          label(for="WidthProduct") Largura
          br
          input(id="WidthProduct" type="text" placeholder="0" onchange="resizeWidthProduct(this.value)")
        div(class"displayPanel")
          div(id="product" class="display_paisaje")
            span(id="productBack" class="cardBack")
              h1(class="product_titleBack") Título Trazeiro
              p(class="product_textBack") Texto trazeiro
            span(id="productFace" class="cardFront")
              h1(class="product_titleFront") Título Frontal
              p(class="product_textFront") Texto Frontal
        div(id="showHeightProduct")
          label(for="heightProduct") Altura
          br
          inputi(id="heightProduct" type="text" placeholder="0" onchange="resizeHeightProduct(this.value)")
    footer
      details
        summary Copyright 2017
        p by suportedesk

       

