doctype html
html
  head
    link(rel="stylesheet" href="style.css")
    script(src="script.js")
    meta(charset="UTF-8")
  title HTML Tutorial
  body(onload="load()")
    include view/includes/header.pug
    include view/includes/section.pug
    include view/includes/footer.pug

       

